<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FitnessMain"></activity>
        <activity android:name=".MynewAppointment" />
        <activity android:name=".Prescriptions" />
        <activity android:name=".Myappointments" />
        <activity android:name=".Immunizations" />
        <activity android:name=".ResourceDetail" />
        <activity android:name=".Resources" />
        <activity android:name=".hours" />
        <activity
            android:name=".CounsellingHome"
            android:label="@string/title_activity_counselling_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OurStaff"
            android:label="@string/title_activity_our_staff"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Contact_us" />
        <activity
            android:name=".BookAppointment"
            android:label="@string/title_activity_book_appointment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HealthHome"
            android:label="@string/title_activity_health_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>